<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Document</title>
  </head>
  <body>
    <div
      style="
        width: 40%;
        height: 30rem;
        margin: 10px auto;
        background-color: #ccc;
        border-radius: 4px;
        box-shadow: 1px 2px 4px rgb(0, 0, 0, 0.2);
      "
    >
      <h1
        style="
          padding-top: 10px;
          width: full;
          text-align: center;
          font-size: 2rem;
        "
      >
        Xác nhận đơn hàng của bạn
      </h1>

      <img
        src="https://t3.ftcdn.net/jpg/04/60/79/46/360_F_460794612_JXF0OGQ84Y49kDCj4Sz3tfdnKNrKNj9A.jpg"
        alt=""
        srcset=""
        style="
          display: block;
          width: 80%;
          margin: 0 auto;
          margin-top: 10px;
        "
      />
      <p
        style="text-align: center;"
      >
        Xin chào người dùng
        <span style="font-weight: bold">
          khanh nguyễn</span
        >
        đơn hàng của bạn đã được xác nhận và thành
        tiền vui lòng truy cập
        <a href="http://localhost:5173/profile"
          >Đơn hàng</a
        >
        để xác nhận đơn hàng
      </p>
    </div>
  </body>
</html>
